<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/AarAl/IdeaProjects/TestNGBasicBatch19/src/test/java/class01/annotations.java">
        <classes>
            <class name="class01.annotations">
                <methods>
                    <include name="ATestCase"/>
                    <include name="BTestCase"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>